# Car Advertisement

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Missing values](#missing_values)
    * [2.2 Duplicates](#duplicates)
        * [Conclusions](#data_preprocessing_conclusions)

## Introduction <a id='#intro'></a>
In this project, we will create app, that allows users to choose a vehicle based on their preferences. Users can filter vehicles based on price range, condition (new or used), and model year. The app provides visualizations to help users make informed decisions.

### Goal: 
Create a simple and intuitive application for choosing a vehicle. 

Namely:
1. Create at least one `st.header` with text
2. Create  at least one Plotly Express histogram using `st.write` or `st.plotly_chart`
3. Create  at least one Plotly Express scatter plot using `st.write` or `st.plotly_chart`
4. Create  at least one checkbox using `st.checkbox` that changes the behavior of any of the above components

### Stages 
 
Data is stored in the file `vehicles_us`. There is no information about the quality of the data, so we will need to explore it before create an app. 

First, we'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, we will try to account for the most critical problems.
 
Our project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Creating graphs
 4. Creating an app
 
[Back to Contents](#back)

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Car Advertisement and explore it.

We'll need `pandas`, so import it.

In [71]:
import pandas as pd

Read the file `vehicles_us.csv` from the `/notebooks/` folder and save it in the `data` variable:

In [72]:
data = pd.read_csv('vehicles_us.csv')
data

,Unnamed: 0,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,3,1500,2003.0,ford f-150,fair,8.0,gas,121928.0,automatic,pickup,unknown,0.0,2019-03-22,9
4,4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,0.0,2018-10-03,37
51521,51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,0.0,2018-11-14,22
51522,51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,0.0,2018-11-15,32
51523,51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,0.0,2018-07-02,71
51524,51524,6300,2014.0,nissan altima,good,4.0,gas,100319.5,automatic,sedan,unknown,0.0,2018-06-05,10

Print the first 10 table rows:

In [73]:
data.head(10)

,Unnamed: 0,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,3,1500,2003.0,ford f-150,fair,8.0,gas,121928.0,automatic,pickup,unknown,0.0,2019-03-22,9
4,4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
5,5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,0.0,2018-12-27,73
7,7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,unknown,1.0,2018-07-16,19
9,9,9200,2008.0,honda pilot,excellent,6.0,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

Obtaining the general information about the table with one command:

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    51525 non-null  int64
 1   price         51525 non-null  int64
 2   model_year    51525 non-null  float64
 3   model         51525 non-null  object
 4   condition     51525 non-null  object
 5   cylinders     51525 non-null  float64
 6   fuel          51525 non-null  object
 7   odometer      51525 non-null  float64
 8   transmission  51525 non-null  object
 9   type          51525 non-null  object
 10  paint_color   51525 non-null  object
 11  is_4wd        51525 non-null  float64
 12  date_posted   51525 non-null  object
 13  days_listed   51525 non-null  int64
dtypes: float64(4), int64(3), object(7)
memory usage: 5.5+ MB

In [75]:
data.columns

Index(['Unnamed: 0', 'price', 'model_year', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

The table contains 13 columns. They store 3 types of data: `float`, `int`, `object`. 

According to the documentation:
- `'price'`
- `'model_year'` 
- `'model'` 
- `'condition'`
- `'cylinders'` 
- `'fuel'` 
- `'odometer'` 
- `'transmission'`
- `'type'` 
- `'paint_color'` 
- `'is_4wd'`
- `'date_posted'`
- `'days_listed'`

We don't see any styling issues with the column names. So we can leave them as is for now.

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

Each row of the table stores data about the vehicle. Some columns describe the car itself: price, model, year, condition, cylinders, fuel, odometer, transmission, type, paint color and four-wheel drive. The rest convey information about the placement of information: date of publication and days indicated. 

It is clear that there is enough data to create a graphs and app. However, there are missing values.

To move forward, we need to pre-process the data.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Deal with the missing values. Then, check whether there are duplicates in the data.

### 2.1 Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use `pandas` method:

In [76]:
data.isna().sum()

Unnamed: 0      0
price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

We have missing values in columns:  
- `model_year` - 3619
- `cylinders` - 5260 
- `odometer` - 7892      
- `paint_color` - 9267
- `is_4wd` - 25953

In our case all of the missing values can affect the comparison of car preferences.

In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So we will have to:
* Fill in these missing values with markers or mediana

Replace the missing values in `'paint_color'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in this column:

In [77]:
data.paint_color.unique()

array(['unknown', 'white', 'red', 'black', 'blue', 'grey', 'silver',
       'custom', 'orange', 'yellow', 'brown', 'green', 'purple'],
      dtype=object)

In [78]:
columns_to_replace = ['paint_color']

for column in columns_to_replace:
    print(column)
    data[column] = data[column].fillna('unknown')
    print('Missing values in ', column, 'are replaced')

paint_color
Missing values in  paint_color are replaced

Replace the missing values in `'s_4wd'` with the string `'0'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [79]:
data.is_4wd.unique()

array([1., 0.])

In [80]:
column_to_replace = ['is_4wd']

for column in column_to_replace:
    print(column)
    data[column] = data[column].fillna('0')
    print('Missing values in ', column, 'are replaced')

is_4wd
Missing values in  is_4wd are replaced

Replace the missing values in `'model_year'`, `'cylinders'`, and `'odometer'` fill by median. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [81]:
data.model_year.unique()

array([2011. , 2013. , 2003. , 2017. , 2014. , 2015. , 2012. , 2008. ,
       2018. , 2009. , 2010. , 2007. , 2004. , 2005. , 2001. , 2006. ,
       1966. , 1994. , 2019. , 2000. , 2016. , 1993. , 1999. , 2006.5,
       1997. , 2002. , 1981. , 1995. , 1996. , 1975. , 1998. , 1985. ,
       1977. , 1987. , 1974. , 1990. , 1992. , 1991. , 1972. , 1967. ,
       1988. , 1969. , 1989. , 1978. , 1965. , 1979. , 1968. , 1986. ,
       1980. , 1964. , 1963. , 1984. , 1982. , 2010.5, 1973. , 1970. ,
       1955. , 1971. , 1976. , 1983. , 1954. , 1962. , 1948. , 1960. ,
       1908. , 1961. , 1936. , 1949. , 1958. , 1929. ])

In [82]:
data['model_year'] = data['model_year'].fillna(data.groupby(['model'])['model_year'].transform('median'))
print(data['model_year'])

0        2011.0
1        2011.0
2        2013.0
3        2003.0
4        2017.0
          ...
51520    2013.0
51521    2002.0
51522    2009.0
51523    2013.0
51524    2014.0
Name: model_year, Length: 51525, dtype: float64

In [83]:
sorted(data.cylinders.unique())

[3.0, 4.0, 5.0, 6.0, 8.0, 10.0, 12.0]

In [84]:
data['cylinders'] = data['cylinders'].fillna(data.groupby(['model'])['cylinders'].transform('median'))
print(data['cylinders'])

0        6.0
1        6.0
2        4.0
3        8.0
4        4.0
        ...
51520    6.0
51521    4.0
51522    4.0
51523    4.0
51524    4.0
Name: cylinders, Length: 51525, dtype: float64

In [85]:
sorted(data.odometer.unique())

[0.0,
 1.0,
 2.0,
 3.0,
 5.0,
 6.0,
 7.0,
 8.0,
 10.0,
 13.0,
 14.0,
 15.0,
 20.0,
 21.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 30.0,
 31.0,
 32.0,
 35.0,
 40.0,
 42.0,
 43.0,
 50.0,
 51.0,
 53.0,
 54.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 62.0,
 63.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 80.0,
 81.0,
 82.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 94.0,
 95.0,
 96.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 180.0,
 181.0,
 183.0,
 184.0,
 185.0,
 187.0,
 189.0,
 190.0,
 192.0,
 193.0,
 195.0,
 197.0,
 198.0,
 199.0,
 200.0,
 202.0,
 204.0,
 205.0,
 206.0,
 207.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 220.0,
 221.0,
 223.0,
 224.0,
 227.0,
 229.0,
 230.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 240.0,
 241.0,
 245.0,
 249.0,
 250.0,
 252.0,
 254.0,
 255.0,
 263.0,
 265.0,
 266.0,
 270.0,
 276.0,
 290.0,
 298.0,
 300.0,
 345.0,
 359.0,
 387.0,
 396.0,
 432.0,
 450.0,
 500.0,
 677.0,
 689.0,
 711.0,
 760.0,
 768.0,
 800.0,
 934.0,
 950.0,
 977.0,
 981.0,
 998.0,
 999.0,
 1000.0,
 1003.0,
 1011.0,
 1028.0,
 1030.0,
 1142.0,
 1181.0,
 1186.0,
 1234.0,
 1261.0,
 1277.0,
 1300.0,
 1399.0,
 1412.0,
 1428.0,
 1440.0,
 1441.0,
 1500.0,
 1566.0,
 1574.0,
 1700.0,
 1750.0,
 1756.0,
 1790.0,
 1800.0,
 1900.0,
 1940.0,
 1994.0,
 2000.0,
 2004.0,
 2023.0,
 2045.0,
 2050.0,
 2067.0,
 2073.0,
 2094.0,
 2115.0,
 2118.0,
 2121.0,
 2158.0,
 2196.0,
 2360.0,
 2368.0,
 2376.0,
 2390.0,
 2400.0,
 2401.0,
 2414.0,
 2451.0,
 2470.0,
 2477.0,
 2500.0,
 2534.0,
 2550.0,
 2558.0,
 2589.0,
 2636.0,
 2737.0,
 2800.0,
 2920.0,
 2963.0,
 2979.0,
 2995.0,
 3000.0,
 3028.0,
 3047.0,
 3050.0,
 3063.0,
 3079.0,
 3184.0,
 3211.0,
 3221.0,
 3249.0,
 3250.0,
 3396.0,
 3411.0,
 3415.0,
 3420.0,
 3423.0,
 3432.0,
 3500.0,
 3565.0,
 3568.0,
 3600.0,
 3621.0,
 3650.0,
 3680.0,
 3681.0,
 3765.0,
 3788.0,
 3800.0,
 3822.0,
 3825.0,
 3826.0,
 3827.0,
 3860.0,
 3915.0,
 3916.0,
 3986.0,
 3993.0,
 4000.0,
 4071.0,
 4100.0,
 4133.0,
 4134.0,
 4200.0,
 4217.0,
 4234.0,
 4300.0,
 4307.0,
 4341.0,
 4400.0,
 4500.0,
 4563.0,
 4600.0,
 4633.0,
 4696.0,
 4700.0,
 4800.0,
 4825.0,
 4837.0,
 4943.0,
 4950.0,
 4958.0,
 4998.0,
 5000.0,
 5031.0,
 5061.0,
 5080.0,
 5110.0,
 5127.0,
 5152.0,
 5154.0,
 5160.0,
 5200.0,
 5230.0,
 5255.0,
 5274.0,
 5300.0,
 5329.0,
 5331.0,
 5380.0,
 5400.0,
 5453.0,
 5499.0,
 5500.0,
 5557.0,
 5583.0,
 5598.0,
 5600.0,
 5612.0,
 5632.0,
 5678.0,
 5700.0,
 5740.0,
 5795.0,
 5875.0,
 5903.0,
 5997.0,
 6000.0,
 6200.0,
 6203.0,
 6212.0,
 6300.0,
 6390.0,
 6448.0,
 6450.0,
 6464.0,
 6468.0,
 6500.0,
 6552.0,
 6600.0,
 6606.0,
 6609.0,
 6665.0,
 6699.0,
 6757.0,
 6800.0,
 6819.0,
 6853.0,
 6886.0,
 6893.0,
 6899.0,
 6915.0,
 6952.0,
 7000.0,
 7058.0,
 7073.0,
 7100.0,
 7136.0,
 7200.0,
 7286.0,
 7403.0,
 7421.0,
 7422.0,
 7430.0,
 7500.0,
 7536.0,
 7567.0,
 7600.0,
 7655.0,
 7659.0,
 7693.0,
 7700.0,
 7701.0,
 7726.0,
 7768.0,
 7877.0,
 7900.0,
 7950.0,
 7959.0,
 7961.0,
 7985.0,
 8000.0,
 8002.0,
 8032.0,
 8050.0,
 8053.0,
 8064.0,
 8073.0,
 8200.0,
 8204.0,
 8247.0,
 8300.0,
 8303.0,
 8354.0,
 8360.0,
 8394.0,
 8424.0,
 8427.0,
 8437.0,
 8500.0,
 8528.0,
 8530.0,
 8576.0,
 8584.0,
 8600.0,
 8606.0,
 8638.0,
 8646.0,
 8676.0,
 8700.0,
 8900.0,
 8909.0,
 8912.0,
 8937.0,
 8979.0,
 8989.0,
 9000.0,
 9015.0,
 9056.0,
 9091.0,
 9100.0,
 9122.0,
 9200.0,
 9222.0,
 9300.0,
 9314.0,
 9347.0,
 9382.0,
 9400.0,
 9418.0,
 9435.0,
 9446.0,
 9482.0,
 9492.0,
 9500.0,
 9515.0,
 9524.0,
 9558.0,
 9600.0,
 9621.0,
 9726.0,
 9735.0,
 9775.0,
 9800.0,
 9815.0,
 9816.0,
 9825.0,
 9846.0,
 9900.0,
 9930.0,
 9945.0,
 9949.0,
 9978.0,
 9982.0,
 9994.0,
 10000.0,
 10005.0,
 10038.0,
 10043.0,
 10060.0,
 10100.0,
 10128.0,
 10152.0,
 10175.0,
 10200.0,
 10212.0,
 10223.0,
 10234.0,
 10250.0,
 10261.0,
 10277.0,
 10295.0,
 10300.0,
 10318.0,
 10327.0,
 10347.0,
 10357.0,
 10364.0,
 10386.0,
 10400.0,
 10443.0,
 10450.0,
 10459.0,
 10492.0,
 10500.0,
 10501.0,
 10567.0,
 10600.0,
 10622.0,
 10662.0,
 10700.0,
 10728.0,
 10737.0,
 10800.0,
 10844.0,
 10892.0,
 10899.0,
 10900.0,
 10922.0,
 10942.0,
 11000.0,
 11034.0,
 11064.0,
 11085.0,
 11090.0,
 11091.0,
 11115.0,
 11132.0,
 11160.0,
 11180.0,
 11200.0,
 11203.0,
 11211.0,
 11228.0,
 11247.0,
 11289.0,
 11300.0,
 11302.0,
 11315.0,
 11378.0,
 11381.0,
 11391.0,
 11427.0,
 11438.0,
 11500.0,
 11504.0,
 11510.0,
 11554.0,
 11580.0,
 11591.0,
 11600.0,
 11619.0,
 11657.0,
 11672.0,
 11699.0,
 11700.0,
 11745.0,
 11751.0,
 11792.0,
 11801.0,
 11811.0,
 11827.0,
 11830.0,
 11871.0,
 11875.0,
 11900.0,
 11910.0,
 11943.0,
 11978.0,
 11990.0,
 12000.0,
 12020.0,
 12054.0,
 12087.0,
 12090.0,
 12100.0,
 12104.0,
 12108.0,
 12144.0,
 12178.0,
 12183.0,
 12184.0,
 12217.0,
 12221.0,
 12222.0,
 12250.0,
 12300.0,
 12310.0,
 12349.0,
 12369.0,
 12379.0,
 12400.0,
 12410.0,
 12424.0,
 12427.0,
 12430.0,
 12435.0,
 12437.0,
 12440.0,
 12451.0,
 12500.0,
 12513.0,
 12558.0,
 12606.0,
 12613.0,
 12632.0,
 12652.0,
 12654.0,
 12659.0,
 12675.0,
 12700.0,
 12716.0,
 12722.0,
 12735.0,
 12740.0,
 12763.0,
 12770.0,
 12775.0,
 12781.0,
 12800.0,
 12816.0,
 12831.0,
 12886.0,
 12898.0,
 12899.0,
 12900.0,
 12901.0,
 12940.0,
 12989.0,
 13000.0,
 13024.0,
 13046.0,
 13047.0,
 13050.0,
 13051.0,
 13057.0,
 13100.0,
 13126.0,
 13137.0,
 13138.0,
 13156.0,
 13166.0,
 13200.0,
 13201.0,
 13216.0,
 13250.0,
 13336.0,
 13340.0,
 13341.0,
 13355.0,
 13365.0,
 13387.0,
 13400.0,
 13411.0,
 13424.0,
 13499.0,
 13500.0,
 13516.0,
 13607.0,
 13610.0,
 13636.0,
 13648.0,
 13730.0,
 13734.0,
 13750.0,
 13776.0,
 13800.0,
 13808.0,
 13850.0,
 14000.0,
 14007.0,
 14058.0,
 14100.0,
 14109.0,
 14148.0,
 14189.0,
 14209.0,
 14245.0,
 14300.0,
 14361.0,
 14410.0,
 14416.0,
 14438.0,
 14487.0,
 14500.0,
 14509.0,
 14518.0,
 14536.0,
 14563.0,
 14567.0,
 14573.0,
 14606.0,
 14627.0,
 14652.0,
 14654.0,
 14700.0,
 14713.0,
 14800.0,
 14832.0,
 14880.0,
 14890.0,
 14900.0,
 14950.0,
 14964.0,
 14990.0,
 14997.0,
 14999.0,
 15000.0,
 15001.0,
 15033.0,
 15070.0,
 15102.0,
 15147.0,
 15149.0,
 15165.0,
 15187.0,
 15200.0,
 15201.0,
 15213.0,
 15221.0,
 15250.0,
 15261.0,
 15275.0,
 15291.0,
 15300.0,
 15302.0,
 15304.0,
 15338.0,
 15344.0,
 15346.0,
 15359.0,
 15380.0,
 15384.0,
 15409.0,
 15420.0,
 15425.0,
 15471.0,
 15499.0,
 15500.0,
 15515.0,
 15519.0,
 15538.0,
 15548.0,
 15569.0,
 15600.0,
 15622.0,
 15630.0,
 15635.0,
 15648.0,
 15654.0,
 15655.0,
 15673.0,
 15770.0,
 15776.0,
 15800.0,
 15804.0,
 15827.0,
 15830.0,
 15853.0,
 15884.0,
 15885.0,
 15890.0,
 15900.0,
 15921.0,
 15950.0,
 15980.0,
 16000.0,
 16060.0,
 16067.0,
 16081.0,
 16083.0,
 16135.0,
 16168.0,
 16190.0,
 16200.0,
 16201.0,
 16251.0,
 16252.0,
 16258.0,
 16259.0,
 16270.0,
 16273.0,
 16295.0,
 16337.0,
 16376.0,
 16384.0,
 16400.0,
 16402.0,
 16422.0,
 16461.0,
 16498.0,
 16500.0,
 16505.0,
 16588.0,
 16660.0,
 16684.0,
 16687.0,
 16700.0,
 16722.0,
 16750.0,
 16775.0,
 16848.0,
 16849.0,
 16858.0,
 16868.0,
 16887.0,
 16890.0,
 16893.0,
 16899.0,
 16902.0,
 16920.0,
 16926.0,
 16930.0,
 16931.0,
 16948.0,
 16974.0,
 16989.0,
 16995.0,
 17000.0,
 17029.0,
 17035.0,
 17037.0,
 17083.0,
 17100.0,
 17123.0,
 17126.0,
 17196.0,
 17223.0,
 17224.0,
 17250.0,
 17269.0,
 17300.0,
 17312.0,
 17340.0,
 17350.0,
 17351.0,
 17361.0,
 17384.0,
 17400.0,
 17419.0,
 17426.0,
 17492.0,
 17498.0,
 17500.0,
 17512.0,
 17597.0,
 17600.0,
 17613.0,
 17624.0,
 17635.0,
 17693.0,
 17700.0,
 17723.0,
 17758.0,
 17760.0,
 17764.0,
 17776.0,
 17779.0,
 17787.0,
 17793.0,
 17800.0,
 17830.0,
 17840.0,
 17860.0,
 17864.0,
 17876.0,
 17915.0,
 17935.0,
 17941.0,
 17947.0,
 17954.0,
 17958.0,
 17976.0,
 18000.0,
 18004.0,
 18005.0,
 18006.0,
 18100.0,
 18133.0,
 18136.0,
 18144.0,
 18185.0,
 18200.0,
 18208.0,
 18245.0,
 18265.0,
 18280.0,
 18287.0,
 18298.0,
 18300.0,
 18306.0,
 18312.0,
 18323.0,
 18326.0,
 18328.0,
 18330.0,
 18336.0,
 18357.0,
 18362.0,
 18387.0,
 18402.0,
 18450.0,
 18458.0,
 18459.0,
 18463.0,
 18469.0,
 18485.0,
 18500.0,
 18508.0,
 18514.0,
 18534.0,
 18538.0,
 18584.0,
 18600.0,
 18624.0,
 18720.0,
 18728.0,
 18742.0,
 18753.0,
 18755.0,
 18778.0,
 18800.0,
 18839.0,
 18848.0,
 18852.0,
 18900.0,
 18950.0,
 18961.0,
 18987.0,
 19000.0,
 19053.0,
 19068.0,
 19092.0,
 19105.0,
 19128.0,
 19140.0,
 19186.0,
 19191.0,
 19200.0,
 19204.0,
 19300.0,
 19395.0,
 19403.0,
 19407.0,
 19423.0,
 19424.0,
 19428.0,
 19458.0,
 19500.0,
 19506.0,
 19570.0,
 19572.0,
 19579.0,
 19581.0,
 19631.0,
 19632.0,
 19662.0,
 19700.0,
 19705.0,
 19715.0,
 19732.0,
 19753.0,
 19763.0,
 19764.0,
 19765.0,
 19800.0,
 19887.0,
 19891.0,
 19904.0,
 ...]

In [86]:
data['odometer'] = data['odometer'].fillna(data.groupby(['model'])['odometer'].transform('median'))
print(data['odometer'])

0        145000.0
1         88705.0
2        110000.0
3        121928.0
4         80903.0
           ...
51520     88136.0
51521    181500.0
51522    128000.0
51523    139573.0
51524    100319.5
Name: odometer, Length: 51525, dtype: float64

In [87]:
data['odometer'] = data['odometer'].fillna(data.groupby(['model_year'])['odometer'].transform('median'))
print(data['odometer'])

0        145000.0
1         88705.0
2        110000.0
3        121928.0
4         80903.0
           ...
51520     88136.0
51521    181500.0
51522    128000.0
51523    139573.0
51524    100319.5
Name: odometer, Length: 51525, dtype: float64

Make sure the table contains no more missing values. Count the missing values again.

In [88]:
data.isna().sum()

Unnamed: 0      0
price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

### 2.2 Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [89]:
data.duplicated().sum()

0

We have no obvious duplicates

Now get rid of implicit duplicates in the `model` column. For example, the name of a model can be written in different ways. Such errors will also affect the result.

Print a list of unique model names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [90]:
data.model.unique()

array(['bmw x5', 'ford f-150', 'hyundai sonata', 'chrysler 200',
       'chrysler 300', 'toyota camry', 'honda pilot', 'kia sorento',
       'chevrolet silverado 1500', 'honda accord', 'ram 1500',
       'gmc yukon', 'jeep cherokee', 'chevrolet traverse',
       'hyundai elantra', 'chevrolet tahoe', 'toyota rav4',
       'chevrolet silverado', 'jeep wrangler', 'chevrolet malibu',
       'ford fusion se', 'chevrolet impala', 'chevrolet corvette',
       'jeep liberty', 'toyota camry le', 'nissan altima',
       'subaru outback', 'toyota highlander', 'dodge charger',
       'toyota tacoma', 'chevrolet equinox', 'nissan rogue',
       'mercedes-benz benze sprinter 2500', 'honda cr-v',
       'jeep grand cherokee', 'toyota 4runner', 'ford focus',
       'honda civic', 'kia soul', 'chevrolet colorado',
       'ford f150 supercrew cab xlt', 'chevrolet camaro lt coupe 2d',
       'chevrolet cruze', 'ford mustang', 'chevrolet silverado 3500hd',
       'nissan frontier crew cab sv', 'subaru impreza',
       'jeep grand cherokee laredo', 'nissan versa',
       'ford f-250 super duty', 'chevrolet silverado 1500 crew',
       'chevrolet camaro', 'ford mustang gt coupe 2d', 'subaru forester',
       'ford explorer', 'ford f-350 super duty', 'ford edge',
       'nissan maxima', 'ford f-250', 'nissan sentra',
       'chevrolet suburban', 'ford expedition', 'dodge grand caravan',
       'ford taurus', 'acura tl', 'ford ranger', 'gmc sierra',
       'hyundai santa fe', 'ford escape', 'gmc sierra 2500hd',
       'honda civic lx', 'gmc sierra 1500', 'honda odyssey',
       'cadillac escalade', 'volkswagen jetta', 'toyota corolla',
       'chrysler town & country', 'volkswagen passat', 'toyota prius',
       'buick enclave', 'ford fusion', 'toyota tundra', 'ram 3500',
       'ram 2500', 'nissan frontier', 'chevrolet silverado 2500hd',
       'jeep wrangler unlimited', 'gmc acadia', 'toyota sienna',
       'ford focus se', 'dodge dakota', 'ford f350',
       'chevrolet trailblazer', 'ford econoline', 'nissan murano'],
      dtype=object)

In [91]:
data.model.nunique()

95

In [92]:
sorted(data.model.unique())

['acura tl',
 'bmw x5',
 'buick enclave',
 'cadillac escalade',
 'chevrolet camaro',
 'chevrolet camaro lt coupe 2d',
 'chevrolet colorado',
 'chevrolet corvette',
 'chevrolet cruze',
 'chevrolet equinox',
 'chevrolet impala',
 'chevrolet malibu',
 'chevrolet silverado',
 'chevrolet silverado 1500',
 'chevrolet silverado 1500 crew',
 'chevrolet silverado 2500hd',
 'chevrolet silverado 3500hd',
 'chevrolet suburban',
 'chevrolet tahoe',
 'chevrolet trailblazer',
 'chevrolet traverse',
 'chrysler 200',
 'chrysler 300',
 'chrysler town & country',
 'dodge charger',
 'dodge dakota',
 'dodge grand caravan',
 'ford econoline',
 'ford edge',
 'ford escape',
 'ford expedition',
 'ford explorer',
 'ford f-150',
 'ford f-250',
 'ford f-250 super duty',
 'ford f-350 super duty',
 'ford f150 supercrew cab xlt',
 'ford f350',
 'ford focus',
 'ford focus se',
 'ford fusion',
 'ford fusion se',
 'ford mustang',
 'ford mustang gt coupe 2d',
 'ford ranger',
 'ford taurus',
 'gmc acadia',
 'gmc sierra',
 'gmc sierra 1500',
 'gmc sierra 2500hd',
 'gmc yukon',
 'honda accord',
 'honda civic',
 'honda civic lx',
 'honda cr-v',
 'honda odyssey',
 'honda pilot',
 'hyundai elantra',
 'hyundai santa fe',
 'hyundai sonata',
 'jeep cherokee',
 'jeep grand cherokee',
 'jeep grand cherokee laredo',
 'jeep liberty',
 'jeep wrangler',
 'jeep wrangler unlimited',
 'kia sorento',
 'kia soul',
 'mercedes-benz benze sprinter 2500',
 'nissan altima',
 'nissan frontier',
 'nissan frontier crew cab sv',
 'nissan maxima',
 'nissan murano',
 'nissan rogue',
 'nissan sentra',
 'nissan versa',
 'ram 1500',
 'ram 2500',
 'ram 3500',
 'subaru forester',
 'subaru impreza',
 'subaru outback',
 'toyota 4runner',
 'toyota camry',
 'toyota camry le',
 'toyota corolla',
 'toyota highlander',
 'toyota prius',
 'toyota rav4',
 'toyota sienna',
 'toyota tacoma',
 'toyota tundra',
 'volkswagen jetta',
 'volkswagen passat']

In [93]:
for car_model in data.model.unique():
    if 'ford f-' in car_model or 'ford f' in car_model:
        print(car_model)

ford f-150
ford fusion se
ford focus
ford f150 supercrew cab xlt
ford f-250 super duty
ford f-350 super duty
ford f-250
ford fusion
ford focus se
ford f350

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `ford f-150`
* `ford f150`
* `fford f-150`

* `ford f-250 sd`
* `ford f-250 super duty`
* `ford f250 super duty`

* `ford f-350 sd`
* `ford f350 super duty`

* `ford f-250`
* `ford f250`

To get rid of them, declare the function `replace_wrong_models()` with two parameters: 
* `wrong_models=` — the list of duplicates
* `correct_models=` — the string with the correct value

The function should correct the names in the `'model'` column from the `data` table, i.e. replace each value from the `wrong_models` list with the value in `correct_models`.

In [94]:
def replace_wrong_models(wrong_models, correct_models):
    for element in wrong_models:
        data['model'] = data['model'].replace(element, correct_models)

wrong_models = ['ford f-250 sd', 'ford f250 super duty']
correct_models = 'ford f-250 super duty'

Call `replace_wrong_models()` and pass it arguments so that it clears implicit duplcates (`ford f-250 sd`, and `ford f250 super duty`) and replaces them with `ford f-250 super duty`:

In [95]:
replace_wrong_models(['ford f-250 sd', 'ford f250 super duty'], 'ford f-250 super duty')
replace_wrong_models(['ford f150', 'fford f-150'], 'ford f-150')
replace_wrong_models(['ford f250'], 'ford f-250')
replace_wrong_models(['ford f350 super duty', 'ford f-350 sd'], 'ford f-350 super duty')

Make sure the duplicate names were removed. Print the list of unique values from the `'model'` column:

In [96]:
for car_model in data.model.unique():
    if 'ford f-' in car_model or 'ford f' in car_model:
        print(car_model)

ford f-150
ford fusion se
ford focus
ford f150 supercrew cab xlt
ford f-250 super duty
ford f-350 super duty
ford f-250
ford fusion
ford focus se
ford f350

In [97]:
data[data.model.isin(['ford f-250 sd', 'ford f250 super duty', 'ford f-250 super duty'])]['model'].value_counts()

model
ford f-250 super duty    1037
Name: count, dtype: int64

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected two issues with the data:

- Missing values
- Implicit duplicates

All missing values have been replaced.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move forward.

In [113]:
data.to_csv('vehicles_us.csv')